from flask import Flask
from flask_restful import Resource, Api

from {APP_NAME}.resources import RESOURCES

app = Flask(__name__)
api = Api(app)

for r, prefix in RESOURCES:
    api.add_resource(r, prefix)

if __name__ == '__main__':
    app.run()
