import os
import click

from dotenv import load_dotenv
load_dotenv()

from flask import Flask
from flask_migrate import Migrate
from flask_project.db import db
from {APP_NAME}.models import models
from {APP_NAME}.blueprints import BLUEPRINTS

app = Flask(__name__)
app.config.update(**os.environ)
db.init_app(app)
Migrate(app, db)

for bp in BLUEPRINTS:
    app.register_blueprint(bp)


## Commands

@app.cli.command('runscript')
@click.argument('script')
def runscript(script):
    f = open(script)
    exec(f.read())
    f.close()
